* {
    /* width not affected by padding or border */
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;
    /* Centered horizontally */
    align-items: center; 
    /* Centered vertically on 100% viewport */
    justify-content: center;
    /* 100% viewport height  */
    height: 100vh;
    /* don't want scrollbars  */
    overflow: hidden;
    /* no margins  */
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    /* 2s transition out */
    transition: 2s ease;
}

.square:hover {
    /* immediate transition in */
    transition-duration: 0s;
}